version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  # expo:
  #   build:
  #     context: ./mobile-app
  #     dockerfile: Dockerfile
  #   container_name: expo-app
  #   ports:
  #     # Metro Bundler
  #     - "8081:8081"
  #     # Expo Dev URLs
  #     - "19000:19000"
  #     - "19001:19001"
  #     - "19002:19002"
  #   volumes:
  #     - ./mobile-app:/app
  #     - expo_node_modules:/app/node_modules
  #   environment:
  #     - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
  #     - REACT_NATIVE_PACKAGER_HOSTNAME=0.0.0.0
  #   command: npm run docker-start
  #   depends_on:
  #     - backend

volumes:
  pgdata:
  expo_node_modules:
